turtle_ws/src/ML_lab6/ML_Script.py
turtle_ws/src/ML_lab6/CNN_v6_15epochs.h5
turtle_ws/src/ML_lab6/2023Fimgs/1.jpg
turtle_ws/src/ML_lab6/2023Fimgs/2.jpg
turtle_ws/src/ML_lab6/2023Fimgs/3.jpg
turtle_ws/src/ML_lab6/2023Fimgs/4.jpg
turtle_ws/src/ML_lab6/2023Fimgs/5.jpg
turtle_ws/src/ML_lab6/2023Fimgs/6.jpg
turtle_ws/src/ML_lab6/2023Fimgs/7.jpg
turtle_ws/src/ML_lab6/2023Fimgs/8.jpg
turtle_ws/src/ML_lab6/2023Fimgs/9.jpg
turtle_ws/src/ML_lab6/2023Fimgs/19.jpg
turtle_ws/src/ML_lab6/2023Fimgs/20.jpg
turtle_ws/src/ML_lab6/2023Fimgs/21.jpg
turtle_ws/src/ML_lab6/2023Fimgs/25.jpg
turtle_ws/src/ML_lab6/2023Fimgs/26.jpg
turtle_ws/src/ML_lab6/2023Fimgs/27.jpg
turtle_ws/src/ML_lab6/2023Fimgs/28.jpg
turtle_ws/src/ML_lab6/2023Fimgs/31.jpg
turtle_ws/src/ML_lab6/2023Fimgs/32.jpg
turtle_ws/src/ML_lab6/2023Fimgs/33.jpg
turtle_ws/src/ML_lab6/2023Fimgs/34.jpg
turtle_ws/src/ML_lab6/2023Fimgs/35.jpg
turtle_ws/src/ML_lab6/2023Fimgs/36.jpg
turtle_ws/src/ML_lab6/2023Fimgs/37.jpg
turtle_ws/src/ML_lab6/2023Fimgs/43.jpg
turtle_ws/src/ML_lab6/2023Fimgs/44.jpg
turtle_ws/src/ML_lab6/2023Fimgs/45.jpg
turtle_ws/src/ML_lab6/2023Fimgs/46.jpg
turtle_ws/src/ML_lab6/2023Fimgs/48.jpg
turtle_ws/src/ML_lab6/2023Fimgs/49.jpg
turtle_ws/src/ML_lab6/2023Fimgs/50.jpg
turtle_ws/src/ML_lab6/2023Fimgs/51.jpg
turtle_ws/src/ML_lab6/2023Fimgs/52.jpg
turtle_ws/src/ML_lab6/2023Fimgs/55.jpg
turtle_ws/src/ML_lab6/2023Fimgs/56.jpg
turtle_ws/src/ML_lab6/2023Fimgs/57.jpg
turtle_ws/src/ML_lab6/2023Fimgs/58.jpg
turtle_ws/src/ML_lab6/2023Fimgs/59.jpg
turtle_ws/src/ML_lab6/2023Fimgs/60.jpg
turtle_ws/src/ML_lab6/2023Fimgs/61.jpg
turtle_ws/src/ML_lab6/2023Fimgs/62.jpg
turtle_ws/src/ML_lab6/2023Fimgs/63.jpg
turtle_ws/src/ML_lab6/2023Fimgs/64.jpg
turtle_ws/src/ML_lab6/2023Fimgs/65.jpg
turtle_ws/src/ML_lab6/2023Fimgs/66.jpg
turtle_ws/src/ML_lab6/2023Fimgs/67.jpg
turtle_ws/src/ML_lab6/2023Fimgs/68.jpg
turtle_ws/src/ML_lab6/2023Fimgs/69.jpg
turtle_ws/src/ML_lab6/2023Fimgs/79.jpg
turtle_ws/src/ML_lab6/2023Fimgs/80.jpg
turtle_ws/src/ML_lab6/2023Fimgs/81.jpg
turtle_ws/src/ML_lab6/2023Fimgs/82.jpg
turtle_ws/src/ML_lab6/2023Fimgs/83.jpg
turtle_ws/src/ML_lab6/2023Fimgs/84.jpg
turtle_ws/src/ML_lab6/2023Fimgs/85.jpg
turtle_ws/src/ML_lab6/2023Fimgs/86.jpg
turtle_ws/src/ML_lab6/2023Fimgs/87.jpg
turtle_ws/src/ML_lab6/2023Fimgs/88.jpg
turtle_ws/src/ML_lab6/2023Fimgs/89.jpg
turtle_ws/src/ML_lab6/2023Fimgs/97.jpg
turtle_ws/src/ML_lab6/2023Fimgs/98.jpg
turtle_ws/src/ML_lab6/2023Fimgs/99.jpg
turtle_ws/src/ML_lab6/2023Fimgs/100.jpg
turtle_ws/src/ML_lab6/2023Fimgs/105.jpg
turtle_ws/src/ML_lab6/2023Fimgs/106.jpg
turtle_ws/src/ML_lab6/2023Fimgs/107.jpg
turtle_ws/src/ML_lab6/2023Fimgs/108.jpg
turtle_ws/src/ML_lab6/2023Fimgs/109.jpg
turtle_ws/src/ML_lab6/2023Fimgs/110.jpg
turtle_ws/src/ML_lab6/2023Fimgs/111.jpg
turtle_ws/src/ML_lab6/2023Fimgs/112.jpg
turtle_ws/src/ML_lab6/2023Fimgs/113.jpg
turtle_ws/src/ML_lab6/2023Fimgs/114.jpg
turtle_ws/src/ML_lab6/2023Fimgs/115.jpg
turtle_ws/src/ML_lab6/2023Fimgs/116.jpg
turtle_ws/src/ML_lab6/2023Fimgs/117.jpg
turtle_ws/src/ML_lab6/2023Fimgs/118.jpg
turtle_ws/src/ML_lab6/2023Fimgs/119.jpg
turtle_ws/src/ML_lab6/2023Fimgs/120.jpg
turtle_ws/src/ML_lab6/2023Fimgs/121.jpg
turtle_ws/src/ML_lab6/2023Fimgs/122.jpg
turtle_ws/src/ML_lab6/2023Fimgs/123.jpg
turtle_ws/src/ML_lab6/2023Fimgs/124.jpg
turtle_ws/src/ML_lab6/2023Fimgs/125.jpg
turtle_ws/src/ML_lab6/2023Fimgs/126.jpg
turtle_ws/src/ML_lab6/2023Fimgs/127.jpg
turtle_ws/src/ML_lab6/2023Fimgs/128.jpg
turtle_ws/src/ML_lab6/2023Fimgs/129.jpg
turtle_ws/src/ML_lab6/2023Fimgs/130.jpg
turtle_ws/src/ML_lab6/2023Fimgs/131.jpg
turtle_ws/src/ML_lab6/2023Fimgs/132.jpg
turtle_ws/src/ML_lab6/2023Fimgs/133.jpg
turtle_ws/src/ML_lab6/2023Fimgs/134.jpg
turtle_ws/src/ML_lab6/2023Fimgs/153.jpg
turtle_ws/src/ML_lab6/2023Fimgs/154.jpg
turtle_ws/src/ML_lab6/2023Fimgs/157.jpg
turtle_ws/src/ML_lab6/2023Fimgs/158.jpg
turtle_ws/src/ML_lab6/2023Fimgs/159.jpg
turtle_ws/src/ML_lab6/2023Fimgs/160.jpg
turtle_ws/src/ML_lab6/2023Fimgs/161.jpg
turtle_ws/src/ML_lab6/2023Fimgs/162.jpg
turtle_ws/src/ML_lab6/2023Fimgs/163.jpg
turtle_ws/src/ML_lab6/2023Fimgs/164.jpg
turtle_ws/src/ML_lab6/2023Fimgs/165.jpg
turtle_ws/src/ML_lab6/2023Fimgs/166.jpg
turtle_ws/src/ML_lab6/2023Fimgs/167.jpg
turtle_ws/src/ML_lab6/2023Fimgs/168.jpg
turtle_ws/src/ML_lab6/2023Fimgs/169.jpg
turtle_ws/src/ML_lab6/2023Fimgs/170.jpg
turtle_ws/src/ML_lab6/2023Fimgs/171.jpg
turtle_ws/src/ML_lab6/2023Fimgs/177.jpg
turtle_ws/src/ML_lab6/2023Fimgs/178.jpg
turtle_ws/src/ML_lab6/2023Fimgs/179.jpg
turtle_ws/src/ML_lab6/2023Fimgs/180.jpg
turtle_ws/src/ML_lab6/2023Fimgs/185.jpg
turtle_ws/src/ML_lab6/2023Fimgs/186.jpg
turtle_ws/src/ML_lab6/2023Fimgs/187.jpg
turtle_ws/src/ML_lab6/2023Fimgs/188.jpg
turtle_ws/src/ML_lab6/2023Fimgs/189.jpg
turtle_ws/src/ML_lab6/2023Fimgs/190.jpg
turtle_ws/src/ML_lab6/2023Fimgs/197.jpg
turtle_ws/src/ML_lab6/2023Fimgs/198.jpg
turtle_ws/src/ML_lab6/2023Fimgs/199.jpg
turtle_ws/src/ML_lab6/2023Fimgs/200.jpg
turtle_ws/src/ML_lab6/2023Fimgs/201.jpg
turtle_ws/src/ML_lab6/2023Fimgs/202.jpg
turtle_ws/src/ML_lab6/2023Fimgs/203.jpg
turtle_ws/src/ML_lab6/2023Fimgs/204.jpg
turtle_ws/src/ML_lab6/2023Fimgs/210.jpg
turtle_ws/src/ML_lab6/2023Fimgs/211.jpg
turtle_ws/src/ML_lab6/2023Fimgs/212.jpg
turtle_ws/src/ML_lab6/2023Fimgs/213.jpg
turtle_ws/src/ML_lab6/2023Fimgs/214.jpg
turtle_ws/src/ML_lab6/2023Fimgs/215.jpg
turtle_ws/src/ML_lab6/2023Fimgs/221.jpg
turtle_ws/src/ML_lab6/2023Fimgs/222.jpg
turtle_ws/src/ML_lab6/2023Fimgs/223.jpg
turtle_ws/src/ML_lab6/2023Fimgs/224.jpg
turtle_ws/src/ML_lab6/2023Fimgs/225.jpg
turtle_ws/src/ML_lab6/2023Fimgs/226.jpg
turtle_ws/src/ML_lab6/2023Fimgs/233.jpg
turtle_ws/src/ML_lab6/2023Fimgs/234.jpg
turtle_ws/src/ML_lab6/2023Fimgs/235.jpg
turtle_ws/src/ML_lab6/2023Fimgs/236.jpg
turtle_ws/src/ML_lab6/2023Fimgs/237.jpg
turtle_ws/src/ML_lab6/2023Fimgs/238.jpg
turtle_ws/src/ML_lab6/2023Fimgs/245.jpg
turtle_ws/src/ML_lab6/2023Fimgs/246.jpg
turtle_ws/src/ML_lab6/2023Fimgs/247.jpg
turtle_ws/src/ML_lab6/2023Fimgs/248.jpg
turtle_ws/src/ML_lab6/2023Fimgs/249.jpg
turtle_ws/src/ML_lab6/2023Fimgs/250.jpg
turtle_ws/src/ML_lab6/2023Fimgs/251.jpg
turtle_ws/src/ML_lab6/2023Fimgs/252.jpg
turtle_ws/src/ML_lab6/2023Fimgs/257.jpg
turtle_ws/src/ML_lab6/2023Fimgs/258.jpg
turtle_ws/src/ML_lab6/2023Fimgs/259.jpg
turtle_ws/src/ML_lab6/2023Fimgs/260.jpg
turtle_ws/src/ML_lab6/2023Fimgs/261.jpg
turtle_ws/src/ML_lab6/2023Fimgs/262.jpg
turtle_ws/src/ML_lab6/2023Fimgs/269.jpg
turtle_ws/src/ML_lab6/2023Fimgs/270.jpg
turtle_ws/src/ML_lab6/2023Fimgs/271.jpg
turtle_ws/src/ML_lab6/2023Fimgs/272.jpg
turtle_ws/src/ML_lab6/2023Fimgs/273.jpg
turtle_ws/src/ML_lab6/2023Fimgs/274.jpg
turtle_ws/src/ML_lab6/2023Fimgs/275.jpg
turtle_ws/src/ML_lab6/2023Fimgs/281.jpg
turtle_ws/src/ML_lab6/2023Fimgs/282.jpg
turtle_ws/src/ML_lab6/2023Fimgs/283.jpg
turtle_ws/src/ML_lab6/2023Fimgs/284.jpg
turtle_ws/src/ML_lab6/2023Fimgs/285.jpg
turtle_ws/src/ML_lab6/2023Fimgs/286.jpg
turtle_ws/src/ML_lab6/2023Fimgs/287.jpg
turtle_ws/src/ML_lab6/2023Fimgs/288.jpg
turtle_ws/src/ML_lab6/2023Fimgs/289.jpg
turtle_ws/src/ML_lab6/2023Fimgs/290.jpg
turtle_ws/src/ML_lab6/2023Fimgs/299.jpg
turtle_ws/src/ML_lab6/2023Fimgs/300.jpg
turtle_ws/src/ML_lab6/2023Fimgs/301.jpg
turtle_ws/src/ML_lab6/2023Fimgs/302.jpg
turtle_ws/src/ML_lab6/2023Fimgs/303.jpg
turtle_ws/src/ML_lab6/2023Fimgs/304.jpg
turtle_ws/src/ML_lab6/2023Fimgs/305.jpg
turtle_ws/src/ML_lab6/2023Fimgs/306.jpg
turtle_ws/src/ML_lab6/2023Fimgs/307.jpg
turtle_ws/src/ML_lab6/2023Fimgs/312.jpg
turtle_ws/src/ML_lab6/2023Fimgs/313.jpg
turtle_ws/src/ML_lab6/2023Fimgs/314.jpg
turtle_ws/src/ML_lab6/2023Fimgs/315.jpg
turtle_ws/src/ML_lab6/2023Fimgs/316.jpg
turtle_ws/src/ML_lab6/2023Fimgs/317.jpg
turtle_ws/src/ML_lab6/2023Fimgs/318.jpg
turtle_ws/src/ML_lab6/2023Fimgs/labels.txt
turtle_ws/src/ML_lab6/2022Fimgs/1.png
turtle_ws/src/ML_lab6/2022Fimgs/2.png
turtle_ws/src/ML_lab6/2022Fimgs/3.png
turtle_ws/src/ML_lab6/2022Fimgs/4.png
turtle_ws/src/ML_lab6/2022Fimgs/5.png
turtle_ws/src/ML_lab6/2022Fimgs/6.png
turtle_ws/src/ML_lab6/2022Fimgs/7.png
turtle_ws/src/ML_lab6/2022Fimgs/8.png
turtle_ws/src/ML_lab6/2022Fimgs/9.png
turtle_ws/src/ML_lab6/2022Fimgs/10.png
turtle_ws/src/ML_lab6/2022Fimgs/11.png
turtle_ws/src/ML_lab6/2022Fimgs/12.png
turtle_ws/src/ML_lab6/2022Fimgs/13.png
turtle_ws/src/ML_lab6/2022Fimgs/14.png
turtle_ws/src/ML_lab6/2022Fimgs/15.png
turtle_ws/src/ML_lab6/2022Fimgs/16.png
turtle_ws/src/ML_lab6/2022Fimgs/17.png
turtle_ws/src/ML_lab6/2022Fimgs/18.png
turtle_ws/src/ML_lab6/2022Fimgs/19.png
turtle_ws/src/ML_lab6/2022Fimgs/20.png
turtle_ws/src/ML_lab6/2022Fimgs/21.png
turtle_ws/src/ML_lab6/2022Fimgs/22.png
turtle_ws/src/ML_lab6/2022Fimgs/23.png
turtle_ws/src/ML_lab6/2022Fimgs/24.png
turtle_ws/src/ML_lab6/2022Fimgs/25.png
turtle_ws/src/ML_lab6/2022Fimgs/26.png
turtle_ws/src/ML_lab6/2022Fimgs/27.png
turtle_ws/src/ML_lab6/2022Fimgs/28.png
turtle_ws/src/ML_lab6/2022Fimgs/29.png
turtle_ws/src/ML_lab6/2022Fimgs/30.png
turtle_ws/src/ML_lab6/2022Fimgs/31.png
turtle_ws/src/ML_lab6/2022Fimgs/32.png
turtle_ws/src/ML_lab6/2022Fimgs/33.png
turtle_ws/src/ML_lab6/2022Fimgs/34.png
turtle_ws/src/ML_lab6/2022Fimgs/35.png
turtle_ws/src/ML_lab6/2022Fimgs/36.png
turtle_ws/src/ML_lab6/2022Fimgs/37.png
turtle_ws/src/ML_lab6/2022Fimgs/38.png
turtle_ws/src/ML_lab6/2022Fimgs/39.png
turtle_ws/src/ML_lab6/2022Fimgs/40.png
turtle_ws/src/ML_lab6/2022Fimgs/41.png
turtle_ws/src/ML_lab6/2022Fimgs/42.png
turtle_ws/src/ML_lab6/2022Fimgs/43.png
turtle_ws/src/ML_lab6/2022Fimgs/44.png
turtle_ws/src/ML_lab6/2022Fimgs/45.png
turtle_ws/src/ML_lab6/2022Fimgs/46.png
turtle_ws/src/ML_lab6/2022Fimgs/47.png
turtle_ws/src/ML_lab6/2022Fimgs/48.png
turtle_ws/src/ML_lab6/2022Fimgs/49.png
turtle_ws/src/ML_lab6/2022Fimgs/51.png
turtle_ws/src/ML_lab6/2022Fimgs/53.png
turtle_ws/src/ML_lab6/2022Fimgs/54.png
turtle_ws/src/ML_lab6/2022Fimgs/55.png
turtle_ws/src/ML_lab6/2022Fimgs/56.png
turtle_ws/src/ML_lab6/2022Fimgs/57.png
turtle_ws/src/ML_lab6/2022Fimgs/58.png
turtle_ws/src/ML_lab6/2022Fimgs/59.png
turtle_ws/src/ML_lab6/2022Fimgs/60.png
turtle_ws/src/ML_lab6/2022Fimgs/61.png
turtle_ws/src/ML_lab6/2022Fimgs/62.png
turtle_ws/src/ML_lab6/2022Fimgs/63.png
turtle_ws/src/ML_lab6/2022Fimgs/64.png
turtle_ws/src/ML_lab6/2022Fimgs/65.png
turtle_ws/src/ML_lab6/2022Fimgs/66.png
turtle_ws/src/ML_lab6/2022Fimgs/67.png
turtle_ws/src/ML_lab6/2022Fimgs/68.png
turtle_ws/src/ML_lab6/2022Fimgs/69.png
turtle_ws/src/ML_lab6/2022Fimgs/70.png
turtle_ws/src/ML_lab6/2022Fimgs/71.png
turtle_ws/src/ML_lab6/2022Fimgs/72.png
turtle_ws/src/ML_lab6/2022Fimgs/73.png
turtle_ws/src/ML_lab6/2022Fimgs/74.png
turtle_ws/src/ML_lab6/2022Fimgs/75.png
turtle_ws/src/ML_lab6/2022Fimgs/76.png
turtle_ws/src/ML_lab6/2022Fimgs/78.png
turtle_ws/src/ML_lab6/2022Fimgs/79.png
turtle_ws/src/ML_lab6/2022Fimgs/80.png
turtle_ws/src/ML_lab6/2022Fimgs/81.png
turtle_ws/src/ML_lab6/2022Fimgs/82.png
turtle_ws/src/ML_lab6/2022Fimgs/83.png
turtle_ws/src/ML_lab6/2022Fimgs/84.png
turtle_ws/src/ML_lab6/2022Fimgs/85.png
turtle_ws/src/ML_lab6/2022Fimgs/86.png
turtle_ws/src/ML_lab6/2022Fimgs/87.png
turtle_ws/src/ML_lab6/2022Fimgs/88.png
turtle_ws/src/ML_lab6/2022Fimgs/89.png
turtle_ws/src/ML_lab6/2022Fimgs/90.png
turtle_ws/src/ML_lab6/2022Fimgs/91.png
turtle_ws/src/ML_lab6/2022Fimgs/92.png
turtle_ws/src/ML_lab6/2022Fimgs/93.png
turtle_ws/src/ML_lab6/2022Fimgs/94.png
turtle_ws/src/ML_lab6/2022Fimgs/95.png
turtle_ws/src/ML_lab6/2022Fimgs/96.png
turtle_ws/src/ML_lab6/2022Fimgs/97.png
turtle_ws/src/ML_lab6/2022Fimgs/98.png
turtle_ws/src/ML_lab6/2022Fimgs/99.png
turtle_ws/src/ML_lab6/2022Fimgs/100.png
turtle_ws/src/ML_lab6/2022Fimgs/101.png
turtle_ws/src/ML_lab6/2022Fimgs/102.png
turtle_ws/src/ML_lab6/2022Fimgs/103.png
turtle_ws/src/ML_lab6/2022Fimgs/105.png
turtle_ws/src/ML_lab6/2022Fimgs/106.png
turtle_ws/src/ML_lab6/2022Fimgs/107.png
turtle_ws/src/ML_lab6/2022Fimgs/108.png
turtle_ws/src/ML_lab6/2022Fimgs/109.png
turtle_ws/src/ML_lab6/2022Fimgs/110.png
turtle_ws/src/ML_lab6/2022Fimgs/111.png
turtle_ws/src/ML_lab6/2022Fimgs/112.png
turtle_ws/src/ML_lab6/2022Fimgs/113.png
turtle_ws/src/ML_lab6/2022Fimgs/114.png
turtle_ws/src/ML_lab6/2022Fimgs/115.png
turtle_ws/src/ML_lab6/2022Fimgs/116.png
turtle_ws/src/ML_lab6/2022Fimgs/117.png
turtle_ws/src/ML_lab6/2022Fimgs/118.png
turtle_ws/src/ML_lab6/2022Fimgs/119.png
turtle_ws/src/ML_lab6/2022Fimgs/120.png
turtle_ws/src/ML_lab6/2022Fimgs/121.png
turtle_ws/src/ML_lab6/2022Fimgs/122.png
turtle_ws/src/ML_lab6/2022Fimgs/123.png
turtle_ws/src/ML_lab6/2022Fimgs/124.png
turtle_ws/src/ML_lab6/2022Fimgs/125.png
turtle_ws/src/ML_lab6/2022Fimgs/126.png
turtle_ws/src/ML_lab6/2022Fimgs/127.png
turtle_ws/src/ML_lab6/2022Fimgs/128.png
turtle_ws/src/ML_lab6/2022Fimgs/129.png
turtle_ws/src/ML_lab6/2022Fimgs/130.png
turtle_ws/src/ML_lab6/2022Fimgs/131.png
turtle_ws/src/ML_lab6/2022Fimgs/132.png
turtle_ws/src/ML_lab6/2022Fimgs/133.png
turtle_ws/src/ML_lab6/2022Fimgs/labels.txt
turtle_ws/src/ML_lab6/2022Fimgs/test.txt
turtle_ws/src/ML_lab6/2022Fimgs/train.txt
turtle_ws/src/ML_lab6/CNN_v7_12epochs.h5
